<div id="single" class="page">
    <div id="top">
        <a class="icon-home image-icon" href="/"></a>
    </div>
    <div class="section">
        <div class="article">
            <div class="main">
                <div class="content">
                	<%- partial('_partial/archive', {pagination: config.archive}) %>
                </div>
            </div>
        </div>
    </div>
</div>